old_git/*
lectures/**/*.html
lectures/**/*.css
lectures/**/*.bash
lectures/**/*_files
homework/**/*.html
homework/**/*.pdf
homework/**/*.css
website/.jekyll-cache/*
website/_site/*
.DS_Store*
lectures/.DS_Store
homework/*.DS_Store*
