old_git/*
lectures/**/*.html
lectures/**/*.css
lectures/**/*_files
homework/**/*.html
homework/**/*.pdf
homework/**/*.css
website/.jekyll-cache/*
website/_site/*
website/syllabus.pdf
.DS_Store*
lectures/.DS_Store
homework/*.DS_Store*
lectures/**/*.sh
lectures/**/**/*.pptx
homework/06_hw
homework/07_hw

